{% extends "layout.html" %}
{% block content %}
<div class="navbar">
    <h1>Acceso Profesor</h1>
</div>
<div class="container" style="max-width: 400px; margin-top: 50px;">
    <div class="card">
        <h2 style="text-align: center;">Identifícate</h2>
        <form method="POST">
            <input type="password" name="password" placeholder="Contraseña de clase" 
                   style="width: 100%; padding: 12px; border-radius: 6px; border: 1px solid #ccc; margin-bottom: 20px; box-sizing: border-box;">
            {% if error %}
                <p style="color: var(--danger); font-weight: bold; text-align: center;">{{ error }}</p>
            {% endif %}
            <button type="submit" class="btn-score" style="background: var(--primary); width: 100%; height: 50px; border:none; color:white; border-radius:4px; cursor:pointer;">ENTRAR</button>
        </form>
    </div>
</div>
{% endblock %}
